.pizza_container {
  display: flex;
  justify-content: start;
  margin: 50px;
}

.pizza_block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  @media screen and (max-width: 1160px) {
    grid-template-columns: 1fr;

  }

  .first_column {
    display: grid;
    justify-items: center;

    & img {
      width: 100%;

      @media screen and (max-width: 1160px) {
        width: 50%;

      }
      @media screen and (max-width: 768px) {
        width: 100%;

      }
    }

  }

  .second_column {
    display: grid;
    row-gap: 10px;
  }

  .description {

  }

  &__image {
    width: 260px;
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 20px;
    text-align: center;
  }

  .selector {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;


    ul {
      display: flex;
      flex: 1;
      text-align: center;
      vertical-align: center;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;

        &.active {
          background: #ffffff;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;

    @media screen and (max-width: 670px) {
      flex-direction: column;
      gap: 20px;

    }
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }
}

.nav_btns {
  display: flex;
  gap: 20px;
  @media screen and (max-width: 670px) {
    flex-direction: column-reverse;

  }

  & > * {
    margin: 0;
  }
}


